* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-image: url("https://media.istockphoto.com/photos/empty-modern-bright-interior-with-huge-panoramic-windows-3d-rendering-picture-id954103830?k=20&m=954103830&s=612x612&w=0&h=Sy5x_vLqvW-xnIwfSxYni7H3l9Ha-Apbxb0qBlTywMk="); */
    background-image: url("https://wallpaperaccess.com/full/1503198.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
    /* background-color: mintcream; */
}

.about {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

#song {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

#blog {
    padding: 0.5rem;
    width: 100%;
    color: white;
    background-color: black;
}

header {
    padding: 0.75rem;
    width: 30%;
    color: black;
    /* background-color: black; */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
    background-image: url("https://www.flutetunes.com/blank/blank-12.png");
}

#music-menu {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}

#music-menu img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
}

#music-menu img:last-child {
    margin-right: 0;
}

#music-detail {
    position: relative;
}

.detail-image {
    height: 350px;
}

.name,
.artist {
    position: absolute;
    left: 10px;
    padding: 0.25rem 5rem 0.25rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.name {
    bottom: 60px;
}

.artist {
    bottom: 20px;
}

form {
    margin: 1rem 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input,
textarea {
    font-size: 1rem;
    border: 1px solid black;
    background-color: white;
    padding: 0.5rem;
    margin: 0.25rem 0;
    width: 100%;
}

input[type="submit"] {
    color: white;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s;
}

input[type="submit"]:active {
    background-color: gray;
}

form h4 {
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem 0;
    color: white;
    background-color: black;
}