* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    padding: 0.75rem;
    height: 100%;
    width: 110%;
    color: black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
    /* background-color: orange; */
    background-image: url("https://wallpaperaccess.com/full/2570314.jpg");
    margin: 0px 0px 10px 0px;
}

/* ROUNDS ALL IMAGES */
img {
    border-radius: 8px;
}

body {
    padding: 1rem;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/black-zigzag-background-simple-pattern-design-vector_53876-151273.jpg?w=2000");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
}

/* FOR ABOUT SECTION  */
#music-detail {
    width: 1450px;
    height: 500px;
    overflow: auto;
    background-image: url("https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2013/04/26/1331587842507_1/canblaster-and-asma");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
}

/* for styling the paragraph */
.about {
    text-align: center;
    color: white;
    font-size: 60px;
}

#song {
    width: 320px;
    padding: 10px;
    border: 5px solid lightpink;
    margin: 0;
}

#music-menu {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}

#music-menu img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
}

#music-menu img:last-child {
    margin-right: 0;
}

.detail-image {
    height: 350px;
}

.name,
.artist {
    position: absolute;
    left: 10px;
    padding: 0.25rem 5rem 0.25rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.name {
    bottom: 60px;
}

.artist {
    bottom: 20px;
}

.blog {

    background-color: lightpink;
    border-radius: 8px;
    width: 30%;
    margin: 0px 0px 10px 0px;
}

#submitReview {
    /* background-image: url("https://wallpaperaccess.com/full/2570314.jpg"); */
    background: #EB3B88;
    border: 1px solid #C94A81;
    padding: 5px 15px 5px 15px;
    color: #FFCBE2;
    box-shadow: inset -1px -1px 3px #FF62A7;
    -moz-box-shadow: inset -1px -1px 3px #FF62A7;
    -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
}


/* STYLING THE ADD MUSIC FORM */
.form-style-3 {
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-3 label {
    display: block;
    margin-bottom: 10px;
}

.form-style-3 label>span {
    float: left;
    width: 100px;
    /* color: #F072A9; */
    color: black;
    font-weight: bold;
    font-size: 13px;
    /* text-shadow: 1px 1px 1px #fff; */
}

.form-style-3 fieldset {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    /* background: #FFF4F4; */
    background-color: lightpink;

}

.form-style-3 textarea {
    width: 250px;
    height: 100px;
}

.form-style-3 input[type=submit],
.form-style-3 input[type=button] {
    background: #EB3B88;
    border: 1px solid #C94A81;
    padding: 5px 15px 5px 15px;
    color: #FFCBE2;
    box-shadow: inset -1px -1px 3px #FF62A7;
    -moz-box-shadow: inset -1px -1px 3px #FF62A7;
    -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
}

.required {
    color: red;
    font-weight: normal;
}

/* .footer {

    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: lightpink; 
background-image: url("https://wallpaperaccess.com/full/2570314.jpg");
color: black;
text-align: center;
}

*/

#submit-review {
    background: #EB3B88;
    border: 1px solid #C94A81;
    /* padding: 5px 15px 5px 15px; */
    color: #FFCBE2;

}




.footer-text-left {
    font-size: 25px;
    padding-left: 40px;
    float: left;
    word-spacing: 20px;
}

a.menu:hover {
    background-color: orange;
    font-size: 20px;
}

.footer-content-right {
    padding-right: 40px;
    margin-top: 20px;
    float: right;
}

.icon-style {
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

.icon-style:hover {
    background-color: yellow;
    padding: 5px;
}